Repository romcal/romcal, pull requests merged in 2024-10, with the labels that each got.

#681 feat(de): add German translation
  rites/roman1969/__tests__/locales.test.ts
  rites/roman1969/src/locales/de.ts
  rites/roman1969/src/locales/index.ts
Labels: concept: localization

#379 feat(ta): add Tamil locale
  rites/roman1969/src/locales/index.ts
  rites/roman1969/src/locales/ta.ts
Labels: concept: localization

#682 fix(util): read romcal version from root package
  rites/roman1969/src/index.ts
Labels: change: bug, concept: infrastructure

#664 feat(france.coutances): add Diocese of Coutances, France
  rites/roman1969/src/catalog/martyrology.ts
  rites/roman1969/src/locales/cs.ts
  rites/roman1969/src/locales/de.ts
  rites/roman1969/src/locales/en.ts
  rites/roman1969/src/locales/es.ts
  rites/roman1969/src/locales/fr.ts
  rites/roman1969/src/locales/la.ts
  rites/roman1969/src/locales/sk.ts
  rites/roman1969/src/locales/ta.ts
  rites/roman1969/src/particular-calendars/canada.ts
  rites/roman1969/src/particular-calendars/france.coutances.ts
  rites/roman1969/src/particular-calendars/index.ts
  rites/roman1969/src/types/martyrology.ts
Labels: concept: calendar definitions, concept: localization

#686 feat(calendar): add a romcal option to promote optional memorials
  README.md
  rites/roman1969/__tests__/calendar-builder.test.ts
  rites/roman1969/src/constants/general-calendar-names.ts
  rites/roman1969/src/models/config.ts
  rites/roman1969/src/models/liturgical-day-def.ts
  rites/roman1969/src/types/config.ts
Labels: change: feature request, concept: calendar definitions

#693 feat(canada): add commons on the proper calendar of Canada
  rites/roman1969/src/particular-calendars/americas.ts
  rites/roman1969/src/particular-calendars/canada.ts
Labels: concept: calendar definitions

#692 feat(france): add commons on the proper calendar of France
  rites/roman1969/src/constants/martyrology-metadata.ts
  rites/roman1969/src/locales/en.ts
  rites/roman1969/src/locales/fr.ts
  rites/roman1969/src/particular-calendars/europe.ts
  rites/roman1969/src/particular-calendars/france.ts
Labels: concept: calendar definitions, concept: localization
