Repository romcal/romcal, pull requests merged in 2025-02, with the labels that each got.

#744 fix(general-roman): avoid christmas season psalterWeek reset
  rites/roman1969/__tests__/__snapshots__/calendar-builder.test.ts.snap
  rites/roman1969/__tests__/christmastide-psalter.test.ts
  rites/roman1969/__tests__/fixtures/lh.kbs.sk.fixture.ts
  rites/roman1969/src/models/calendar.ts
  rites/roman1969/src/models/cycles-metadata.ts
  rites/roman1969/src/types/liturgical-day.ts
Labels: change: bug, concept: calendar definitions

#683 feat(france.angers): add Diocese of Angers, France
  rites/roman1969/src/catalog/martyrology.ts
  rites/roman1969/src/constants/martyrology-metadata.ts
  rites/roman1969/src/locales/en.ts
  rites/roman1969/src/locales/fr.ts
  rites/roman1969/src/particular-calendars/france.angers.ts
  rites/roman1969/src/particular-calendars/index.ts
Labels: concept: calendar definitions, concept: localization

#762 ci: switch from directories to versioning strategy
  .github/dependabot.yml
Labels: dependencies
